body
{


}

h1{
color: red;
font-family:chiller;
font-size:80px;
text-align:center;
}

.tab{
background-color:white;
height:auto;
width:auto;
text-align:center;
border-spacing:20px;
}

.tab2{
height:auto;
width:auto;
text-align:center;

}

.a{
background-image: linear-gradient(to right, skyblue , green);
text-align:center;
height:100px;
width:auto;
border-radius: 25px;
 
  
}

.footer{
background-color:yellow;
color:red;
font-family:verdana;
font-size:20px;
}

.form{
font-family:Times New Roman;
}

.fs{
border: 2px solid red;
border-radius: 4px;
width:500px;

}

.legend{
font-size:50px;
color:green;
}


.button{
background-color:skyblue;
display:inline-block;
height:30px;
width:100px;
border-radius: 10px;
color
font-family:Times New Roman;}

.input[type=text]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid red;
border-radius: 4px;
}
